#balloon {
  position: relative;
  top: 200px;
  left: 200px;
  margin: 0;
}

.trail {
  /* className for the trail elements */
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background: teal;
}

.tab-panel {
  height: 500px;
  width: 500px;
}

.tab-panel ul {
  margin: 0;
  padding: 0;
  width: 500px;
  background-color: thistle;
}

.tab-panel button {
  height: 50px;
  width: 100px;
  background-color: thistle;
}

button.clicked {
  background-color: magenta;
}

.tab-content {
  height: 300px;
  width: 500px;
  background-color: plum;
}
